if TARGET_MT6589

choice
	prompt "MT6589 board select"
	optional

config TARGET_BLADE10
	bool "Lenovo YOGA Tablet 10 board"

endchoice

config SYS_SOC
	default "mt6589"

source "board/lenovo/blade10/Kconfig"

endif
