if TARGET_MT6589

choice
	prompt "MT6589 board select"
	optional

config TARGET_YOGA_TABLET_10
	bool "Lenovo YOGA Tablet 10 board"

endchoice

config SYS_SOC
	default "mt6589"

source "board/lenovo/yoga-tablet-10/Kconfig"

endif
