CONFIG_ARM=y
CONFIG_ARCH_MEDIATEK=y
CONFIG_TARGET_MT6589=y
CONFIG_TARGET_YOGA_TABLET_10=y
CONFIG_DEFAULT_DEVICE_TREE="mt6589-yoga-tablet-10"

CONFIG_LEAVE_MEDIATEK=y
#CONFIG_SYS_VENDOR="lenovo"
#CONFIG_SYS_BOARD="yoga-tablet-10"

# maybe nonsense
CONFIG_SYS_LOAD_ADDR=0x82000000

# Address when loaded from LittleKernel
CONFIG_TEXT_BASE=0x80008000

# fot 2nd bootloader
CONFIG_LINUX_KERNEL_IMAGE_HEADER=y
#CONFIG_SKIP_LOWLEVEL_INIT=y
CONFIG_SPL=n
CONFIG_BOARD_EARLY_INIT_F=n

# postmarketOS
#CONFIG_POSITION_INDEPENDENT=y
#CONFIG_SYS_MALLOC_LEN
#CONFIG_DEBUG_UART=y
#CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_LOGLEVEL=8

CONFIG_TIMER=y

CONFIG_SERIAL=y
CONFIG_DM_SERIAL=y
CONFIG_MTK_SERIAL=y
